* {
    box-sizing: border-box;
}


/* desktop icon */
.desktop-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 80px;
    height: 80px;
    background: transparent;
    color: white;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center top 5px;
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

.desktop-icon:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.desktop-icon:active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* taskbar */
.taskbar {
    position: fixed;
    bottom: 0;
    left: 270px;
    width: calc(100% - 270px);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 0px;
    background: linear-gradient(rgba(230, 223, 255, 0.3) 0%, rgba(230, 223, 255, 0.05) 50%, transparent 50%);
    backdrop-filter: contrast(70%) brightness(80%) blur(4px);
    outline: 1px solid rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    clip-path: polygon(0% -50%, 0% 100%, 100% 100%, 100% 0%);
}

.taskbar-button-container {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

.taskbar-button {
    height: 50px;
    width: 80px;
    padding: 0 15px;
    background-size: 45px;
    background-position: center;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0.4px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskbar-button:hover {
    background-color: rgba(165, 165, 165, 0.2);
}

.taskbar-button img {
    width: 80%;
    height: 80%;
    vertical-align: middle;
}

.date-widget {
    line-height: 3;
    color: white;  
    padding: 0 30px;
    white-space: nowrap;
    height: 100%;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.18);
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

/* start menu styles */
.start-menu-dock {
    box-sizing: border-box;
    position: absolute;
    bottom: -340px;
    left: 0;
    width: 270px;
    height: 400px;
    display: block;
    align-items: stretch;
    padding: 0px;
    background: linear-gradient(rgba(230, 223, 255, 0.3) 0%, rgba(230, 223, 255, 0.05) 7.5%, transparent 7.5%);
    backdrop-filter: contrast(70%) brightness(80%) blur(4px);
    outline: 1px solid rgba(255, 255, 255, 0.21);
    border-right: 1px solid rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    clip-path: polygon(-300% -300%, -300% 100%, 100% 100%, 100% -300%);
    z-index: 2;
    transition: all 0.15s 0s ease-out;
}

.start-menu-button {
    position: relative;
    left: calc(50% - 35px);
    top: -35px;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: white;
    border-radius: 50%;
    border: 0px;
    cursor: pointer;
    display: block;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
    z-index: 3;
    overflow: hidden;
    outline: 2px solid rgba(255, 255, 255, 0.1);
    outline-offset: -1px;
}

.start-menu-button::after {
    background: linear-gradient(rgba(255, 255, 255, 0.4) 0%,transparent 90%);
    content: '';
    position: absolute;
    height: 60%;
    width: 75%;
    left: 12.5%;
    top: 5%;
    border-radius: 50%;
    z-index: 30;
}

.start-menu-button:hover {
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3)) brightness(1.2);
}

.start-menu-username {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    color: white;
    text-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.start-menu-content {
    left: 0;
    height: 80%;
    width: 60%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0.4px 1px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.start-menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
    cursor: pointer;
    border-radius: 8px;
    background: radial-gradient(circle at 50% 180%, rgba(0,0,0, 0.3) 0%, transparent 60%);
    transition: background-color 0.2s;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    overflow: hidden;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.start-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.start-menu-item-icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.start-menu-item-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 47px);
}

.start-menu-sidebar {
    position: absolute;
    top: 19%;
    left: 63%;
    height: 79%;
    width: 31%;
    background: transparent;
    margin: 0 3%;
    align-items: center;
    justify-content: center;
}

.start-menu-sidebar-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    text-align: center;
    color: white;
    text-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    margin: 2% 10%;
    width: 80%;
    height: 30px;
    background: radial-gradient(circle at 50% 180%, rgba(0,0,0, 0.3) 0%, transparent 60%);
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.start-menu-sidebar-button:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.start-menu-sidebar-button:active {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.start-menu-sidebar-logout {
    color: white;
    text-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 80%;
    margin: 2% 10%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset -0.5px -0.5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

.start-menu-sidebar-logout:hover {
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: inset 0 0.4px 3px rgba(0, 0, 0, 0.1);
    text-shadow:0 0 5px rgba(255,255,255,0.9);
}

.start-menu-sidebar-logout:active {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0.4px 1px rgba(0, 0, 0, 0.3);
}

/* window styles */
.window-top {
    position: absolute;
    height: 30px;
    background: linear-gradient(rgba(230, 223, 255, 0.3) 0%, rgba(230, 223, 255, 0.05) 50%, transparent 50%);
    backdrop-filter: contrast(70%) brightness(80%) blur(4px);
    -webkit-backdrop-filter: blur(5.4px);
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    cursor: default;
    user-select: none;
    border-radius: 8px 8px 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

.window-base {
    position: absolute;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.21) 2%, transparent 2% );
    user-select: none;
    outline: 1px solid rgba(255, 255, 255, 0.21);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transform: translate(0, 30px);
    clip-path: polygon(-50% 0%, 150% 0%, 150% 150%, -50% 150%);
    backdrop-filter: blur(4px);
    overflow: clip;
}

.window-title {
    color: rgb(255, 255, 255);
    text-shadow:0 0 5px rgba(0, 0, 0, 1);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 70px);
    padding-right: 10px;
}

.window-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.05);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: inset 0 0.4px 1px rgba(0, 0, 0, 0.3);
    text-shadow:0 0 2px rgba(0, 0, 0, 0.9);
}

.window-close {
    right: 5px;
}

.window-close:hover {
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: inset 0 0.4px 3px rgba(0, 0, 0, 0.1);
    text-shadow:0 0 5px rgba(255,255,255,0.9);
}

.window-minimize {
    right: 30px;
}

.window-minimize:hover {
    box-shadow: inset 0 0.4px 3px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.5);
    text-shadow:0 0 5px rgba(255,255,255,0.9);
}

.window-resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    cursor: nw-resize;
    background: transparent;
}

.resize-handle{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    cursor: nw-resize;
    background: transparent;
}

/* background content */

.swish {
    height: 250vh;
    width: 50vw;
    background-color: transparent;
    border-left: 2px solid rgba(179, 179, 179, 0.5);
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    transform-origin: center;
    box-shadow: inset 0px 0px 7px 0px rgba(255, 255, 255, 0.3);
    clip-path: ellipse(25% 50% at left center);
}

#swish {
    top: -22vh;
    right: 10vw;
    transform: rotate(70deg);
}

#swish2 {
    top: -22vh;
    right: 10vw;
    transform: rotate(68deg);
}

#swish3 {
    top: -22vh;
    right: 10vw;
    transform: rotate(71deg);
}

/* login content */

.login-container {
    position: flex;
    width: 300px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(rgba(230, 223, 255, 0.21),transparent,transparent,transparent);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5.4px);
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    flex-direction: column;
}


.login-container p {
    text-align: left;
    left: 6%;
    position: relative;
    font-size: 14px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    margin-top: 0px;
    margin-bottom: 2px;
    text-shadow:0 0 5px rgba(255,255,255,0.5);
    user-select: none
}

.login-container input {
    width: 90%;
    padding: 7px;
    margin-bottom: 3%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.05);
    color: rgb(255, 255, 255);
    box-shadow: inset 0 0.4px 1px rgba(0, 0, 0, 0.3);
    text-shadow:0 0 5px rgba(255,255,255,0.5);
}

.login-container button {
    width: 30%;
    padding: 7px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.05);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: inset 0 0.4px 1px rgba(0, 0, 0, 0.3);
    text-shadow:0 0 5px rgba(255,255,255,0.3);
}

.login-container button:hover {
    box-shadow: inset 0 0.4px 3px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    text-shadow:0 0 5px rgba(255,255,255,0.9);
}

.login-container button:active {
    box-shadow: inset 0 0.4px 0.5px rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, 0.3);
}

.avatar-container {
    margin: 0 5%;
    margin-bottom: 2%;
    right: 20px;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0.4px 1px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.05);
    height: auto;
    border-radius: 10px;
    overflow: auto;
    white-space: nowrap;
    padding:10px;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
    user-select: none;
    scroll-behavior: smooth;
}

.profile-image {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 50% / 10%;
    background: linear-gradient(rgba(230, 223, 255, 0.21), transparent);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5.4px);
    outline: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
}

.profile-imagecontainer{
    height: 60px;
    width: 60px;
    border-radius: 50% / 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    outline: 2px solid rgba(255, 255, 255, 0.18);
    outline-offset: -1px;
    cursor: pointer;
    transform: scale(0.8);
    
}

.profile-image:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);;
}

.profile-image.selected {
    transform: scale(1.1);
    background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(246, 244, 255, 0.2));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.h2 {
    position: flex;
    text-align: left;
    font-size: 50px;
    top: -1%;
    position: relative;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    margin-bottom: 6px;
    margin-top: 0px;
    text-shadow:0 0 5px rgba(255,255,255,0.5);
    user-select: none
}

#background-settings-container{
    width: 90%;
    margin: 0% 5%;
    margin-bottom: 3%;
    height: auto;
}

#backgroundcolorslider{
    appearance: none;
    width: 90%;
    height: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

#backgroundcolorslider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    border: 0px;
    outline: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
  }

/* chatroom */

#chat {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: safe flex-end;
    overflow-y: auto;
    background: linear-gradient(rgba(112, 112, 112, 0.21) 0% ,transparent 10%, transparent 95%, rgba(0, 0, 0, 0.1) 100%);
    filter:drop-shadow(0 0 4px rgba(0,0,0,0.3));
    width: 100%;
    height: 90%;
    right: 0%;
    bottom: 15%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 0px;
    border-right: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}


#message-form {
    position: fixed;
    background: linear-gradient(rgba(120, 120, 120, 0.5) 0%, rgba(50, 50, 50, 0.5) 50%, rgba(20, 20, 20, 0.5) 50%);
    display: flex;
    bottom: 0%;
    left: 0;
    height: 15%;
    width: 100%;
    border-radius: 0 0 8px 8px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
#message-input {
    text-align: start;
    text-wrap: wrap;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.2);
    margin: 3%;
    width: 64%;
    height: 50px;
    bottom: 0%;
    left: 0;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}
#message-form button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-weight: 600;
    text-shadow:0 0 5px rgba(255, 255, 255, 0.8);
    bottom: 0;
    right: 0;
    margin: 3%;
    width: 26%;
    height: 50px;
    border: 0px;
    padding: 10px;
    border-radius: 20px;
    background: radial-gradient(circle at 50% 70%, rgb(134, 195, 236) 0%, rgb(53, 144, 204) 60%);
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.3);
    font-size: large;
    filter: brightness(110%) drop-shadow(0 0 5px rgba(55, 129, 194, 0.7));
    transition: all 0.2s;
}

#message-form button::after {
    background: linear-gradient(rgba(255, 255, 255, 0.3) 0%,transparent 90%);
    content: '';
    position: absolute;
    height: 60%;
    width: 75%;
    left: 12.5%;
    top: 10%;
    border-radius: 20px;
    z-index: 30;
}

#message-form button:hover {
    filter: brightness(120%) drop-shadow(0 0 5px rgba(80, 137, 187, 0.7));
}

#message-form button:active {
    filter: brightness(80%) drop-shadow(0 0 5px rgba(34, 59, 80, 0.7));
}
.message {
    position: sticky;
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
    box-shadow: inset 0 0px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    color: black;
    z-index: 1;
    text-shadow:0 0 5px rgba(255, 255, 255, 0.8);
    font-weight: 500;
    filter: brightness(110%) drop-shadow(0 0px 6px rgba(0, 0, 0, 0.3));
    height: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    transition: all 0.5s;
    opacity: 200%;
}

.message::before{
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0.3) 0%,transparent 90%);
    content: '';
    height: 80%;
    width: calc(100% - 20px);
    top: 5px;
    left: 10px;
    border-radius: 30px;
    z-index: 2;
    pointer-events: none;
}


.message.user-message {
    align-self: flex-end;
    text-wrap: wrap;
    background: radial-gradient(circle at 50% 70%, rgb(231, 231, 231) 0%, rgb(197, 197, 197) 60%);
}

.message.other-message {
    align-self: flex-start;
    background: radial-gradient(circle at 50% 70%, rgb(134, 195, 236) 0%, rgb(53, 144, 204) 60%);
}

#profile {
    position: fixed;
    top: 3%;
    left: 5%;
    width: 120px;
    height: 120px;
    background: repeating-radial-gradient(circle, rgba(165, 165, 165, 0.4) 0%,rgba(211, 234, 236, 0.4) 2%, rgba(165, 165, 165, 0.4) 5% );
    backdrop-filter: blur(4px);
    box-shadow: inset 20px 50px 20px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: white;
    text-align: center;
    text-indent: .1em;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#profile-imagecontainer {
    position: relative;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
    z-index: 3;
}

#profile-imagecontainer::after {
    background: linear-gradient(rgba(255, 255, 255, 0.4) 0%,transparent 90%);
    content: '';
    position: absolute;
    height: 60%;
    width: 75%;
    left: 12.5%;
    top: 5%;
    border-radius: 50%;
    z-index: 30;
}

#profile-username {
    content: 'test';
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgb(0, 0, 0);
    font-size: 14px;
    padding: 5px;
    user-select: none;
    font-weight: 600;
    font-size: 14px;
}

#refresh-button-container {
    position: fixed;
    top: 5%;
    left: 37%;
    width: 50px;
    height: 50px;
    background: repeating-radial-gradient(circle, rgba(165, 165, 165, 0.4) 0%,rgba(211, 234, 236, 0.4) 4%, rgba(165, 165, 165, 0.4) 12% );
    backdrop-filter: blur(4px);
    border-radius: 50%;
    color: white;
    text-align: center;
    text-indent: .1em;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#refresh-button {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 70%, rgb(112, 174, 209) 0%, rgb(17, 131, 197) 60%);
    border: 0;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
    filter: brightness(110%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
    outline: 1px solid rgba(255, 255, 255, 0);
    color: white;
    filter: brightness(115%);
    transition: all 0.2s;
}

#refresh-button svg{
    width: 100%;
}

#refresh-button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 50%;
    background-image: url(/images/hdrsphere.jpg);
    background-size: cover;
    opacity: 20%;
    z-index: 3;
}

#refresh-button:hover{
    filter: brightness(125%);
}

#refresh-button:active{
    filter: brightness(135%);
}

.typing-message {
    color: white;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    user-select: none;
}

#splash-horizontal-chatroom{
    position: absolute;
    width: 110%;
    height: 100%;
    bottom: -38%;
    background-image: url(/images/metro_18.png);
    background-size: 110%;
    background-repeat: no-repeat;
    pointer-events: none;
    filter: contrast(10%) hue-rotate(-110deg);
    z-index: 3;
    mix-blend-mode: color-dodge;
    opacity: 60%;
    transform: rotate(10deg);
}


/* mediaplayer */

#spectrum-container{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1%;
    background-image: radial-gradient(circle at 50% 70%, rgba(112, 174, 209, 0.1) 0%, rgba(17, 131, 197, 0.1) 60%);
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    outline: 1px solid rgba(255, 255, 255, 0.4);
    
}

#spectrum-container::after{
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: repeating-linear-gradient(transparent 1%, rgba(255,255,255,0.1) 2%,transparent 3%);
    box-shadow: inset 0 -10px 10px rgba(0,0,0,0.2);
}

#spectrum-container::before{
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: transparent;
    outline: solid 5px rgb(220, 220, 220);
}

#spectrum-canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

#player-controls-container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display:grid;
    grid-template-rows: 2fr 1fr;
}

#playback-controls-container{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#playback-controls{
    display: flex;
    width: 80%;
    height: 90%;
    background: linear-gradient(rgba(230, 223, 255, 0.3) 0%, rgba(230, 223, 255, 0.05) 50%, transparent 50%);
    filter: drop-shadow(0 5px 5px rgba(0,0,0,0.15));
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 10%;
    outline: 1px solid rgba(255, 255, 255, 0.4);
    outline-offset: -1px;
    flex-direction: row;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: contrast(70%) blur(4px);
}

#playback-button{
    display: flex;
    height: 80%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(255, 255, 255, 0.4);
    outline-offset: -2px;
    align-items: center;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

#playback-button:hover{
    filter: brightness(600%)
}

#playback-button:active{
    color: rgb(245, 245, 245);
    height: 80%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
    filter: brightness(100%)
}

#playback-button svg{
    width: 30px;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.3));
}

#play-pause-button{
    display: flex;
    --size: 80px;
    position: absolute;
    height: var(--size);
    left: calc(50% - calc(var(--size)/2));
    top: -30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 70%, rgb(198, 132, 211) 0%, rgb(159, 72, 199) 60%);
    border: 0px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
    filter: brightness(115%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
    outline: 1px solid rgba(255, 255, 255, 0);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all 0.2s;
}

#play-pause-button svg{
    width: 60px;
}

#play-pause-button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 50%;
    background-image: url(/images/hdrsphere.jpg);
    background-size: cover;
    opacity: 10%;
    z-index: 3;
}

#play-pause-button:hover{
    filter: brightness(120%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
}

#play-pause-button:active{
    filter: brightness(125%) drop-shadow(0 0 10px rgba(100,100,100, 0.6));
    outline: 1px solid rgba(255, 255, 255, 0.2);
}

#seekbar-container{
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
}

.slider{
    appearance: none;
    width: 100%; 
    height: 4px;
    background: rgba(0, 0, 0, 0.1); 
    outline: none; 
    border-radius: 8px;
    z-index: 1;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
    border: none;
    overflow: clip;
    outline: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
}

.slider::-moz-range-thumb {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(255,255,255);
    border: 0;
    cursor: pointer;
    box-shadow: -407px 0 0 400px rgb(167, 90, 202);
}

#mediaplayer-splash{
    display: block;
    position: absolute;
    left: 2%;
    bottom: -15%;
    width: 100%;
    height: 100%;
    background-image: url(/images/metro_3.png);
    background-size: 130%;
    background-position: 20% 20%;
    background-repeat: no-repeat;    
    filter: saturate(200%) hue-rotate(80deg);
    mix-blend-mode: multiply;
    transform: rotate(14deg);
}

/* notepad styles */

#notepad-behind {
    position: absolute;
    width: 90vw;
    height: 90vh;
    background: rgb(240, 229, 134);
    border-radius: 3px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 30px 10px 10px 10px;
    opacity: 100%;
    z-index: 0;
    transform: rotate(2deg);
    outline: 1px solid rgba(255, 255, 255, 0.18);
}

#notepad-body {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 90vw;
    height: 90vh;
    background: rgb(240, 229, 134);
    border-radius: 3px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.4);
    opacity: 100%;
    z-index: 2;
    overflow: clip;
    outline: 1px solid rgba(0, 0, 0, 0.18);
    outline-offset: -1px;
}

#notepad-body::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: url('/images/paper.jpg');
    opacity: 30%;
    pointer-events: none;
    z-index: 3;
}

#notepad-body textarea{
    border: none;
    overflow: auto;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0%;
    resize: none;
    background: transparent;
    z-index: 2;
    padding: 10px;
}

#notepad-controls {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left centre right";
    gap: 1em;
    padding: 5px;
}

#notepad-arrow {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    
    color: rgba(0, 0, 0, 0.3);
    filter: blur(2px);
    transition: all 0.1s;
    align-content: end;
}

#notepad-arrow:hover{
    color: rgba(100, 100, 100, 0.3);
    filter: blur(0px);
}

#notepad-arrow:active{
    color: rgba(200, 200, 200, 0.3);
    filter: blur(1px);
}

#notepad-arrow.right {
    grid-area: right;
}

#notepad-arrow.right svg{
    content: "-";
    width: 90%;
    height: 90%;
    align-self: end;
    text-shadow: 0 0 5px black;
}

#notepad-arrow.left {
    grid-area: left;
}

#notepad-arrow.left svg{
    content: "-";
    width: 90%;
    height: 90%;
    align-self: end;
    text-shadow: 0 0 5px black;
}

/* settings styles */

#settings-body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    background: linear-gradient(rgba(118, 114, 131, 0.21) 0% ,transparent 10%, transparent 90%, rgba(176, 216, 248, 0.6) 100%);
}

#settings-splash{
    color: white;
    top: -250px;
    right: -250px;
    width: 500px;
    height: 500px;
    position: absolute;
    user-select: none;
    z-index: 0;
    opacity: 10%;
    transform: rotate(0deg);
    animation:spin 40s linear infinite;
}

@keyframes spin { 100% { -moz-transform: rotate(360deg); } }

#splash-horizontal{
    position: absolute;
    width: 110%;
    height: 100%;
    bottom: -10%;
    background-image: url(/images/metro_18.png);
    background-size: 110%;
    background-repeat: no-repeat;
    pointer-events: none;
    filter: contrast(10%) hue-rotate(-110deg);
    z-index: 3;
    mix-blend-mode: color-dodge;
    opacity: 60%;
    transform: rotate(10deg);
}

.settings-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.settings-content.active{
    display: block;
    opacity: 1;
}

.settings-content h2{
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
    user-select: none;
    font-weight: 1100;
    font-size: 2.5rem;
    margin: 0;
}

.settings-content p{
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
    user-select: none;
    font-size: 1rem;
    margin: 0;
    margin-left: 5px;
}

#settings-navbar{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(176, 216, 248, 0.6) 0%, rgba(84, 168, 236, 0.6) 50%, rgba(65, 155, 230, 0.6) 50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    z-index: 1;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.settings-navbar-option {
    display: none; 
}

.settings-navbar-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    background: radial-gradient(circle at -10% center, rgba(0,0,0,0.1) 0%, transparent 40%);
    border-right: solid 1px rgba(255,255,255,0.2);
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    transition: all 0.1s;
    cursor: pointer;
    user-select: none;
    filter: contrast(90%) brightness(90%);
}

.settings-navbar-option:checked + .settings-navbar-label {
    background: radial-gradient(circle at center, transparent 0%, rgba(255,255,255,0.1) 70%);
    filter: brightness(100%) contrast(100%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: scaleY(1.02);
}

.settings-navbar-label:hover {
    filter: contrast(10%) brightness(180%);
}

.settings-navbar-label:active {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    filter: brightness(200%) contrast(200%) ;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

#settings-content-inset {
    left: 0;
    height: auto;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0.4px 1px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: auto;
    user-select: none;
    margin-top: 3%;
    padding: 10px;
}

.settings-slider {
    appearance: none;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    width: 97%;
    height: 20px;
    margin: 5px;
    border-radius: 10px;
    filter:drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
    padding: 3px;
}

.settings-slider::-moz-range-thumb{
    appearance: none;
    background-color: white;
    border-radius: 50%;
    border: 0;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

/* fishtank styles */

#fishtank-body {
    width: 100%;
    height: 100%;
}

#fishtank-body canvas {
    pointer-events: none;
    mix-blend-mode: screen;
    opacity: 0.7;
}