<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>fishtank</title>
    <style>
        body {
            overflow: clip;
            width: 100vw;
            height: 100vh;
            margin: 0;
        }
        </style>
</head>
<body>
    <div id="fishtank-body"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/fishtank.js"></script>
</body>
</html>