<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>hello world</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        
        body {
            background-image: radial-gradient(rgb(104, 137, 199), rgb(55, 95, 170),rgb(49, 80, 136));
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            
        }

    </style>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/desktop.js"></script>
    <script type="module" src="/js/window.js"></script>
    <span class="swish" id="swish"></span>
    <span class="swish" id="swish2"></span>
    <span class="swish" id="swish3"></span>
    <script src="/js/loginBackground"></script>
    
</body>
</html>