<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>hello world</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        
        body {
            background-image: radial-gradient(rgb(104, 137, 199), rgb(55, 95, 170),rgb(49, 80, 136));
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        .swish {
            height: 250vh;
            width: 40vw;
            background-color: transparent;
            border-left: 2px solid rgba(104, 137, 199, 0.5);
            position: absolute;
            border-radius: 50%;
            display: inline-block;
            transform-origin: center;
            box-shadow: inset 0px 0px 7px 0px rgba(255, 255, 255, 0.3);
            filter: drop-shadow(1rem 4rem 0.01rem rgba(255, 255, 255, 1));
            clip-path: ellipse(25% 50% at left center);
        }

        #swish {
            top: -30vh;
            right: 20vw;
            transform: rotate(70deg);
        }

        #swish2 {
            top: -30vh;
            right: 19vw;
            transform: rotate(68deg);
        }

        #swish3 {
            top: -30vh;
            right: 19vw;
            transform: rotate(71deg);
        }
    </style>
</head>
<body>
    <span class="swish" id="swish"></span>
    <span class="swish" id="swish2"></span>
    <span class="swish" id="swish3"></span>
    <script src="/js/loginBackground"></script>
    <script type="module" src="/js/window.js"></script>
    <script type="module" src="/js/desktop.js"></script>
</body>
</html>