<!DOCTYPE html>
<html>
<head>
    <title>hello world</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
        
        body {
            background-image: url('/images/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <script type="module" src="/js/window.js"></script>
    <script type="module" src="/js/desktop.js"></script>
</body>
</html>