<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>hello world</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        
        body {
            background-image: radial-gradient(rgb(169, 163, 194), rgb(112, 102, 153), rgb(67, 61, 92));
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            transition: background 2s ease-in-out;
        }
        
    </style>
</head>
<body>
    <span class="swish" id="swish"></span>
    <span class="swish" id="swish2"></span>
    <span class="swish" id="swish3"></span>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/loginBackground"></script>

    <h2 class="h2">Welcome!</h2>
    <div class="login-container">
        <p>Hello, I'm...</p>
        <form action="/login" method="POST">
            <input type="text" name="username" autocomplete="off" required>
            <input type="hidden" name="selectedAvatar" id="selectedAvatar">
            <div class="avatar-container" id="avatar-container">
            </div>
            <p>I'm feeling...</p>
            <div class="background-settings-container" id="background-settings-container">
                <input type="range" min="0" max="360" value="252" class="backgroundcolorslider" id="backgroundcolorslider" name="backgroundcolorslider">
            </div>
            <button type="submit" id="loginButton">Sign in</button>
        </form>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>