<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>mediaplayer</title>
    <style>
        body {
            overflow: clip;
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 5%;
        }
        </style>
</head>
<body>
    <div type="notepad-behind" id="notepad-behind"></div>
    <div type= "notepad-body" id="notepad-body">
        <div type="notepad-controls" id="notepad-controls">
            <button class="right" id="notepad-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                </svg>
            </button>
            <button class="left" id="notepad-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                </svg>
            </button>
        </div>
        <textarea spellcheck="false"></textarea>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/notepad.js"></script>
</body>
</html>