<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>settings</title>
    <style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
        margin: 0;
        display: grid;
        flex-direction: column;
        background: transparent;
        overflow: clip;
        box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr 1fr;

    }
    
    </style>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/settings.js"></script>
    <div id="settings-splash">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </svg>
    </div>
    <div id="settings-body">
        <div class="settings-content">
            <h2>Visual Settings</h2>
            <div id="settings-content-inset">
                <p>Change Background Colour</p>
                <input type="range" min="0" max="360" value="252" class="settings-slider" id="settings-slider-bgcolor">
            </div>
        </div>
        <div class="settings-content">
            <h2>Sound Settings</h2>
            <div id="settings-content-inset">
                <p>Volume</p>
                <input type="range" min="0" max="200" value="70" class="settings-slider" id="settings-slider-volume">
            </div>
        </div>
        <div class="settings-content">
            <h2>About</h2>
            <div id="settings-content-inset">
                <p>Interactive desktop environment, communicating with <a href="https://cycling74.com/products/max">Max MSP</a> through NodeJS</p>
                <p>Frontend built with HTML + CSS + JavaScript <br><br></p>
                <p>SVG Symbols/Icons from <a href="https://icons.getbootstrap.com/">Bootstrap</a></p>
                <p>Program Icons from <a href="https://commons.wikimedia.org/wiki/Category:Crystal_Project">The Crystal Project</a></p>
                <p>Misc graphics sourced from <a href="https://frutigeraeroarchive.org">The Frutiger Aero Archive</a></p>
                <p>"serial experiments lain" game by <a href="https://laingame.net/index.html">Lain TSX Team</a></p>
                <p><br>Made by Maeve Crancher</p>
            </div>
        </div>
    </div>
    <div id="settings-navbar">
        <input type="radio" name="settings-tab" id="tab1" class="settings-navbar-option" checked>
        <label for="tab1" class="settings-navbar-label">Visual</label>

        <input type="radio" name="settings-tab" id="tab2" class="settings-navbar-option">
        <label for="tab2" class="settings-navbar-label">Sound</label>
    
        <input type="radio" name="settings-tab" id="tab3" class="settings-navbar-option">
        <label for="tab3" class="settings-navbar-label">About</label>

    </div>
    <div id="splash-horizontal"></div>
</body>
</html>